@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Lexend;
    box-sizing: border-box;
}



#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#hero button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

#hero img {
    width: 70px;
    height: 70px;
}

#hero h3 {
    font-family: Lexend;
    font-weight: 200;
    font-size: 48px;
    color: white;
}

#hero h1 {
    font-family: "Titillium Web";
    font-size: 90px;
    color: white;
}

#hero h2 {
    font-family: "Titillium Web";
    font-size: 60px;
    font-weight: 400;
    color: white;
}

#hero .rect1 {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    rotate: 45deg;
    margin-right: 1000px;
    margin-bottom: 40vh;
}

#hero .rect2 {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 150px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    rotate: -30deg;
    margin-right: 200px;
    margin-bottom: 60vh;
}

#hero .rect3 {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 150px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    rotate: 45deg;
    margin-right: -1000px;
    margin-bottom: 50vh;
}

#hero .rect4 {
    position: absolute;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 100%;
    rotate: 45deg;
    margin-right: 1400px;
    margin-bottom: 50vh; 
}

#hero .rect5 {
    position: absolute;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 100%;
    rotate: 45deg;
    margin-right: -1400px;
    margin-bottom: 30vh; 
}

#hero .rect6 {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    rotate: 65deg;
    margin-right: -900px;
    margin-top: 60vh;
}

#hero .rect7 {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    rotate: 35deg;
    margin-right: 900px;
    margin-top: 60vh;
}

#hero .rect8 {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 150px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    rotate: 15deg;
    margin-right: 100px;
    margin-top: 60vh;
}

#hero .rect9 {
    position: absolute;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 100%;
    rotate: 45deg;
    margin-right: -1200px;
    margin-top: 40vh; 
}

#hero .rect10 {
    position: absolute;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border: 7px solid rgba(255, 255, 255, 0.055);
    border-radius: 100%;
    rotate: 45deg;
    margin-right: 1200px;
    margin-top: 40vh; 
}
